@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.frame {
    background-color: #3579F5;
    border-radius: 10px;
    /*width: 100%;*/
    width: 743px;
    height: 91px;
    display:flex;
    align-items: center;
    padding: 12px 18px 15px 22px;
    justify-content: space-between;
}

.frame__left {
    display: flex;
    align-items: center;
    color:#FFFFFF;
    column-gap: 16px;
}

.circular-progress {
    --size: 60px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 2px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
  }

  .circle__inside {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 20px;
  }
  
  .circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
  }
  
  .circular-progress circle.bg {
    stroke: #ffffff81;
  }
  
  .circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.3s linear 0s;
    stroke: #ffffff;
  }


.open__checklist__button {
    background-color: #F4F8FF;
    padding: 10px 32px;
    border-radius: 6px;
    height: 40px;
    outline: none;
    border: none;
    color: #4777ED;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.checklist__text {
    background-color: #2364DB;
    border-radius: 40px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 12px;
}

.actions__text {
    font-weight: 600;
    font-size: 15px;
}

.next__action__text {
    font-weight: 400;
    font-size: 12px;
}

.description {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    color:#FFFFFF;
}

.description__text__wrapper {
    display: flex;
    align-items: center;
}